/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* header */

.sight_name {
  display: flex;
  min-width: 200px;
  font-size: 45px;
  justify-content:space-between;
  color: #777777;
}  

.lists-center {
  display: flex;
  list-style: none;
  font-size: 25px;
  justify-content: space-around;
  /* margin-right: 2ex; */
}

.size {
  text-decoration: none;
  line-height: 3px;
  margin-right: 3vw;
  color: #333333;
}

.category {
  text-decoration: none;
  line-height: 3px;
  margin-right: 3vw;
  color: #333333;
}

.brand {
  text-decoration: none;
  line-height: 3px;
  margin-right: 3vw;
  color: #333333;
}

.lists-right {
    display: flex;
    list-style: none;
    font-size: 20px;
    justify-content:flex-end;
}

.user-nickname {
  text-decoration: none; 
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 3px;
  margin-right: 3vw;
  color: #333333;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.logo {
  width: 1500px;
}  