/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}
.lists-left {
  display: flex;
  min-width: 200px;
}  
.lists-right {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.inner {
  width: 1024px;
  margin: 0 auto;
  font-size: 2.4em;
}
.inner_left {
  margin: 0 auto;
  font-size: 0.8em;
}
.top {
  width: 1000x;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 2000px;
}  
.simplism {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.user-nickname {
  text-decoration: none; 
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}